@font-face {
    font-family: "1";
    src: url(../storage/fontss/Formula1-Bold.otf);
  }
  @font-face {
    font-family: "2";
    src: url(../storage/fontss/Formula1-Regular.otf);
  }
  @font-face {
    font-family: "3";
    src: url(../storage/fontss/Formula1-Wide.otf);
  }

  header {
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    height: 5vw;
    width: 100%;
    gap: 8vw;
    font-family: "3";
    font-size: 0.9vw;
    cursor: pointer;
  }