@font-face {
  font-family: "1";
  src: url(../storage/fontss/Formula1-Bold.otf);
}
@font-face {
  font-family: "2";
  src: url(../storage/fontss/Formula1-Regular.otf);
}
@font-face {
  font-family: "3";
  src: url(../storage/fontss/Formula1-Wide.otf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #282424;
  font-family: "2";
  overflow: hidden;
 
}


header {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  height: 5vw;
  width: 100%;
  gap: 8vw;
  font-family: "3";
  font-size: 0.9vw;
  cursor: pointer;
}

.logo {
  width: 10vw;
  padding-left: 2vw;
}


.main_container {
  display: flex;
  width: 100%;
  height: 100vh;
}


.left_container {
  background-color: #ffffff;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vw;
}

.logo_right {
  border-bottom: 0.1vw solid #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1vw;
}

.logo2 {
  width: 15vw;
}

.container_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 0;
}

.f1_text{
  font-family: "2";
  font-size: 1.2vw;
  text-align: center;
  width: 33vw;
 
}
.f1_text2 {
  font-family: "2";
  font-size: 1.2vw;
  text-align: center;
  width: 39vw;
  padding-top:1vw ;
}
.cabezas {
  width: 38vw;
}
.cabezas2 {
  display: none;
}
.cabezas3 {
  display: none;
}

.right_image {
  background-color: black;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f1_car {
  width: 80%;
}
.car{
  width: 42vw;
  height: 50vh;
}
a{
  text-decoration: none;
  color: #000000;
}
::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 430px){
  header {
    background-color: #d9d9d9;
  display: flex;
  align-items: center;
  height: 5vw;
  width: 100%;
  gap: 4vw;
  font-family: "3";
  font-size: 1.3vw;
  cursor: pointer;
  }


.logo2 {
  width: 25vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.container_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 0;
}

.f1_text{
  font-family: "2";
  padding: 3vw;
  font-size: 2.5vw;
  text-align: center;
  width: 39vw;
 
}
.f1_text2 {
  font-family: "2";
  font-size: 2.5vw;
  text-align: center;
  width: 39vw;
  padding:5vw ;
}
.cabezas {

  display: none;
}
.cabezas2{
  width: 45vw;
  display: flex;
}
.cabezas3{
  width: 45vw;
  display: flex;
}

}