@font-face {
  font-family: "1";
  src: url(../storage/fontss/Formula1-Bold.otf);
}
@font-face {
  font-family: "2";
  src: url(../storage/fontss/Formula1-Regular.otf);
}
@font-face {
  font-family: "3";
  src: url(../storage/fontss/Formula1-Wide.otf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #100c24;
  font-family: "2";
  overflow: hidden;
}

video {
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
}


.login_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  padding: 2vw;
  gap: 1.5vw;
  border: 2px solid #1476FF;
  box-shadow: 0 0 7px 1px #d8d8d8;
  border-radius: 1.5vw;
  background-color: rgba(16, 12, 36, 0.5); 
  z-index: 1;
}

.logo_f1 {
  width: 6vw;
  margin-top: -2vw;
}
.sign {
  margin-top: -2vw;
}
h2 {
  font-family: "2";
  color: white;
  font-size: 2vw;
  margin: 0;
}
input{
  margin-top: 1vw;
display: flex;
flex-direction: column;
padding: 3vw;
}
.input_user,
.input_contrasena {
  width: 90%;
  background-color: #0D101C;
  border: 0.15vw solid #1476FF;
  border-radius: 0.5vw;
  padding: 0.8vw;
  color: #ffffff;
  font-family: "2";
  font-size: 1vw;
}

.ingresar {
  width: 20vw;
  padding: 0.8vw;
  background-color: #B00000;
  border: none;
  border-radius: 0.5vw;
  color: white;
  font-family: "1";
  font-size: 1.2vw;
  cursor: pointer;
  margin-top: 2vw;
}

.ingresar:hover {
  background-color: #ff0000;
}

@media only screen and (max-width: 430px){
  .login_container{
    width: 60vw;
    height: 70vw;
    gap: 3vw;
  }
  .logo_f1{
    width: 20vw;
  }
  .sign{
    font-size: 6vw;
  }
  .input_user{
    width: 46vw;
    padding: 2vw;
    font-size: 2.5vw;
  }
  .input_contrasena{
    width: 46vw;
    padding: 2vw;
    font-size: 2.5vw;
  }
  .ingresar{
    width: 46vw;
    padding: 2vw;
    font-size: 2.7vw;
    margin-top: 6vw;
  }
}