@font-face {
    font-family: "1";
    src: url(../storage/fontss/Formula1-Bold.otf);
}
@font-face {
    font-family: "2";
    src: url(../storage/fontss/Formula1-Regular.otf);
}
@font-face {
    font-family: "3";
    src: url(../storage/fontss/Formula1-Wide.otf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #0D101C;
  overflow: hidden;
  font-family: "2"; 
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  width: auto;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
}

.login_container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  padding: 2vw;
  gap: 1.5vw;
  border: 2px solid #1476FF;
  box-shadow: 0 0 7px 1px #0CFFF4;
  border-radius: 1.5vw;
}

.logo_f1 {
  width: 6vw;
  margin-top: -2vw;
}

h2.sign {
  font-family: "2"; 
  color: white;
  font-size: 2vw;
  margin: 0;
}

.input_user,
.input_contrasena {
  width: 100%;
  background-color: #0D101C;
  border: 0.15vw solid #1476FF;
  border-radius: 0.5vw;
  padding: 0.8vw;
  color: white;
  font-family: "2";
  font-size: 1vw;
}

.ingresar {
  width: 100%;
  padding: 0.8vw;
  background-color: #B00000;
  border: none;
  border-radius: 0.5vw;
  color: white;
  font-family: "1"; 
  font-size: 1.2vw;
  cursor: pointer;
}

.ingresar:hover {
  background-color: #ff0000;
}
