@font-face {
    font-family: "1";
    src: url(../storage/fontss/Formula1-Bold.otf);
  }
  @font-face {
    font-family: "2";
    src: url(../storage/fontss/Formula1-Regular.otf);
  }
  @font-face {
    font-family: "3";
    src: url(../storage/fontss/Formula1-Wide.otf);
  }

body{
    margin: 0%;
    padding: 0%;
    background-color: black;
}

header {
  position: fixed;          
  top: 0;                  
  left: 0;
  width: 100%;             
  height: 5vw;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  gap: 8vw;
  font-family: "3";
  font-size: 0.9vw;
  cursor: pointer;
  z-index: 1000;    
}

img.logo {
  width: 10vw;
  object-fit: fill;
  margin-left: 1vw;

}


a{
    text-decoration: none;
    color: black;
}
.nombre, .modelo, .posicion{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container_cars{
  display: flex;
  flex-direction: column                 ;
  width: 100%;
  object-fit: cover;
}
img{
  object-fit: contain;
    width: 100%;               
    max-width: 100%;         
    height: 37vh;             
    object-fit: cover;  
    transition: all .2s ease-in-out;        
}
img:hover { 
  transform: scale(1.1); 
}
.detalle-vehiculo {
  position: fixed;
  top: 5vw;
  left: 0;
  width: 100%;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  padding: 2vw;
  font-family: "2";
  overflow-y: auto;
  z-index: 1001;
}

.card-detalle {
  background-color: #1c1c1c;
  padding: 2vw;
  border-radius: 1vw;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
  max-width: 80vw;
  margin: auto;
}

.card-detalle img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 1vw auto;
  border-radius: 10px;
}

.card-detalle button {
  background-color: red;
  color: white;
  padding: 0.7vw 1.5vw;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1vw;
}
